* {
    margin: 0;
}

.cart {
    padding-left: 30px;
    border-left: 1px solid grey;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 20px 0;
}

.cart-item > img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.cart-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-info > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-item-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1fr 1fr 2fr;
    align-items: center;
}

.cart-item-info > label {
    font-weight: 600;
}

.price {
    text-align: right;
    font-weight: 600;
}

.total-quantity,
.quantity {
    font-size: 14px;
}

.price-each {
    text-align: right;
    font-size: 12px;
    color: grey;
}