.shop {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

h2 {
    margin-top: 20px;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    gap: 10px;
    padding: 25px;
    margin-bottom: 20px;
}

.item > img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

.item-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.item-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}

.item-name {
    font-size: 18px;
}

.item-price,
.item-company {
    font-weight: 700;
}

.item-company {
    font-size: 14px;
}

.item-form {
    display: none;
    justify-content: center;
    align-items: center;
}

.item:hover {
    border: 1px solid lightgrey;
}

.item:hover .item-form {
    display: flex;
}

.quantity > * {
    font-size: 20px;
}

.quantity > button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 20px;
    border: none;
    background-color: #e5e7eb;
}

.quantity > button:hover {
    background-color: #d1d5db;
}

.quantity > button:hover {
    cursor: pointer;
}

.item input {
    border: none;
    text-align: center;
    width: 20%;
    outline: none;
}

.item input::-webkit-outer-spin-button,
.item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart-btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #7dd3fc;
    min-width: 90px;
    padding: 10px 10px;
}

.add-to-cart-btn:hover {
    background-color: #38bdf8;
}
